body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto Mono', sans-serif;
  line-height: 1.6rem;
}

*[onclick] {
  cursor: pointer;
}

#headline {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.switch {
  position: absolute;
  right: 8rem;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  right: 25%;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch, #header {
  margin: 1.2rem 0 0 0;
  line-height: 2rem;
}

/*#theme-toggle {
  position: absolute;
  right: 25%; 
}*/

#bar {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

#navigation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

/*Icons*/
.fa-caret-right, .fa-caret-left {
  font-size: 40px;
  max-width: 10rem;
  position: relative;
}

.fa-caret-left {
  /*float: left;*/
  position: absolute;
  left: 50%; 
}

.fa-caret-right {
  /*float: right;*/
  /*position: absolute;*/
  right: 25%; 
}

#mainpanel {
  margin: 0 0.4rem;
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Card Styles*/
#card {
  width: 20rem;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  margin-top: 1rem;
  padding: 1.4rem 1rem;
  border-radius: 0.4rem;
  background: #eaeaea;
  text-align: center;
}

.face {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.front, .back {
  transition: all .5s linear;
}

.front {
  z-index: 1;
  font-size: 40pt;
}

.back {
  overflow: hidden;
  z-index: -1;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.back:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: 100% 100%;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flipped, .hovercard:hover {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.content {
  padding: 0 1rem;
}

/*Card Components*/
#character {
  font-family: 'Noto Sans SC', sans-serif; 
}

#pinyin {
  padding-bottom: 1rem;
  font-weight: bold;
}

/*Footer Styles*/
footer {
  margin-bottom: 1.2rem;
  display: flex;
}

footer *{
  text-decoration: none;
  margin: 0 .5rem;
}

footer .button{
  cursor: pointer;
}

footer a:visited{
  color: unset;
}

body, #header, #left-wing, footer {
  transition: all .4s ease-out 0s;
}