body {
  background: #282a36;
}

#headline {
  color: #f8f8f2;
}

.slider {
	background-color: #f8f8f2;
}

.slider:before {
	background-color: #282a36;
}

/*input:checked + .slider {
  background-color: #282a36;
}*/

#left-wing {
  color: #8be9fd;
}

#card {
	background: #44475a;
	color: #f8f8f2;
}

.fa-caret-right, .fa-caret-left {
  color: #f8f8f2;
}

footer {
  color: #f8f8f2;
}