body {
  background: #fafafa;
}

#headline {
  color: #1a1a1a;
}

.slider {
	background-color: #1a1a1a;
}

.slider:before {
	background-color: #fafafa;
}

#left-wing {
  color: #1a1a1a;
}

#card {
	background: #eaeaea;
	color: #1a1a1a;
}

.fa-caret-right, .fa-caret-left {
  color: #1a1a1a;
}

footer {
  color: #1a1a1a;
}